@charset "ISO-8859-1";

body {
	background-color: #FFFFFF;
	color: #023047;
	line-height:30px;
	object-position: center;
	text-align: center;
}
h1 {
	background-color: #023047;
	color: white;
	font-family: Arial;
	text-align:center;
	height: 100px;
	line-height: 100px;
}
.nav-aux {
	background-color: #023047 ;
	color: #FFFFFF;
}

.aux{
	color: #FFFFFF;
	display: inline-block;
	border-radius: 40px/30px;
	padding: 0.5rem 1rem;
}

.aux-home{
	color: #FFFFFF;
	display: inline-block;
	border-radius: 40px/30px;
	padding: 0.5rem 1rem;
}

.aux-home:hover{
	cursor: pointer;
	text-decoration: none;
	color:#FFFFFF;
}

.aux:hover{
	cursor: pointer;
	text-decoration: none;
	background-color: #FFFFFF;
	color:#023047;
}

section {
	background-color: #FFFFFF;
	color: #023047;
	line-height:30px;
	object-position: left;
	text-align: left;
    float:left;	 	 
}

.button, button {
	background-color: #FFBA0A;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

footer {
    background-color:#000000;
    color:#FFFFFF;
    text-align:center;
    padding:5px;
    height:20px;
    width: 100%;	 	 
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
}

.home{
	background-color:  #023047;
	color:  #FFFFFF;
	height: 100vh;
	margin: 0;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	
}

.home-title{
	font-size: 72px;
	font-weight: 900;
}

.home-tag{
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
}

.home-link{
	display: inline-block;
	border-radius: 40px/30px;
	padding: 0.5rem 1rem;
	color:  #FFFFFF;
}

.home-link:hover{
	cursor: pointer;
	text-decoration: none;
	background-color: #FFFFFF;
	color: #023047;
}

.home-nav{
	position: absolute;
	right: 10px;
	top: 18px;
}

.card-header{
	background-color:  #023047;
	color: #FFFFFF;
}

.card-body{
	background-color: #DEF0F8;
}

